PermitRootLogin yes
PubkeyAuthentication yes
AuthorizedKeysFile      .ssh/authorized_keys
ChallengeResponseAuthentication no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
Subsystem       sftp    /usr/lib/ssh/sftp-server
LoginGraceTime 15
TCPKeepAlive yes
ClientAliveInterval 15
ClientAliveCountMax 2
